.partners {
  position: relative;
  margin: 80px 0 100px 0;

  .cloud {
    position: absolute;
    left: 0;
    top: -100px;
  }

  &-slider-wrapper {
    max-width: 1500px;
    margin: auto;
  }

  .slide {
    width: 300px !important;
    height: 188px;
    border: 1px solid #e8e9ec;

    div {
      height: 188px;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }

  .slick-arrow {
    width: 48px !important;
    height: 48px !important;
    font-size: 0 !important;
  }

  .slick-arrow.slick-prev {
    position: absolute;
    left: -60px;
    background: url("../img/partners-slider/prev-arrow.svg") 0 0 / 100% no-repeat;
  }

  .slick-arrow.slick-next {
    position: absolute;
    right: -60px;
    background: url("../img/partners-slider/next-arrow.svg") 0 0 / 100% no-repeat;
  }

  .slick-arrow.slick-prev:before,
  .slick-arrow.slick-next:before {
    content: "";
  }
}
